@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin smooth {
    -webkit-font-smoothing: antialiased;
}

@mixin items {
    @include clearfix;
    margin: 0 -15px 30px -15px;
    display: flex;
}
