// @import "./vendor";
// @import "./argon";
// @import "./prism";

@tailwind preflight;
@tailwind components;

@import "./sidebar";
@import "./docs";

:root {
    --black: #22292f;
    --white: white;
    --primary: #787AF6;
    --secondary: #2b9cf2;
    --info: #03a9f4;
    --warning: #ffeb3b;
    --success: #21b978;
    --danger: #e74444;

    --sidebar: #f4f5f7;
}

a {
    @apply no-underline;
}

@tailwind utilities;