@tailwind preflight;
@tailwind components;

@import "./sidebar";
@import "./docs";
@import "./components/alerts";
@import "./vendor/prism/dark";
@import "./vendor/prism/light";
@import "./vendor/prism/code-toolbar";

/**************************************/
/**************** Root ****************/
/**************************************/
:root {
    --black: #22292f;
    --white: white;
    --primary: #787AF6;
    --secondary: #2b9cf2;
    --info: #03a9f4;
    --warning: #fb6340;
    --success: #21b978;
    --danger: #f5365c;

    --sidebar: #f4f5f7;
}

/**************************************/
/*************** Global ***************/
/**************************************/
a {
    @apply no-underline;
}

.documentation  {
    ul > li , ol > li {
        @apply py-2;
    }
}

/**************************************/
/**************** Cards ***************/
/**************************************/
.card {
    @apply border border-grey-lighter p-6 rounded my-4;
}

/**************************************/
/************** Buttons ***************/
/**************************************/
.button {
    @apply py-3 px-6 rounded shadow;
    transition: all 0.1s;

    &:hover {
        transform: translateY(-1px);
        @apply shadow-md;
    }

    &:focus {
        @apply outline-none;
    }

    &.is-white { @apply bg-grey-lightest text-grey-darkest; }
    &.is-black { @apply bg-grey-darkest text-white; }
    &.is-primary { @apply bg-primary text-white; }
    &.is-secondary { @apply bg-secondary text-white; }
    &.is-success { @apply bg-success text-white; }
    &.is-info { @apply bg-info text-white; }
    &.is-warning { @apply bg-warning text-white; }
    &.is-danger { @apply bg-danger text-white; }
}

/**************************************/
/************** Tables ****************/
/**************************************/
table {
    @apply shadow-lg bg-white w-full p-4 my-4;
    transition: box-shadow 0.1s;

    &:hover {
        @apply shadow;
    }

    tr, td, th {
        @apply border border-grey-light;

        &:hover {
            @apply bg-grey-lightest;
        }
    }

    td, th {
        @apply p-4;
    }
}

@tailwind utilities;