/**************************************/
/**************** Root ****************/
/**************************************/
:root {
    --black: #22292f;
    --white: white;
    --primary: #787AF6;
    --secondary: #2b9cf2;
    --info: #03a9f4;
    --warning: #fb6340;
    --success: #21b978;
    --danger: #f5365c;

    --sidebar: #11152C; //
    --documentation: #191E38;
    --navbar: rgb(28, 35, 68);
}

html, body {
    @apply bg-documentation text-grey-lightest;
}

/**************************************/
/**************** Cards ***************/
/**************************************/
.card {
    &.is-default {
        @apply bg-indigo-darker text-grey-lightest border-none shadow-md;
        transition: box-shadow 0.2s;

        &:hover {
            @apply shadow-lg;
        }
    }
}

/**************************************/
/*************** Sidebar **************/
/**************************************/
.sidebar {
    @apply bg-sidebar border-none;

    > ul {
        > li {
            > h2 {
                @apply text-grey;
            }

            > ul {
                @apply list-reset;

                > li {
                    a {
                        @apply text-grey-dark;
                    }
                }
            }
        }
    }
}