.documentation {
    @apply static my-32 pl-50 w-3/4;
    transition: padding-left 0.2s;

    &.expanded {
        @apply pl-20;
    }

    h1:first-of-type {
        @apply border-l-2 border-primary pl-4 mb-6 font-bold;
    }

    h2 {
        @apply mt-10 mb-4 font-bold;

        a, a:hover {
            @apply text-grey-darker no-underline;
        }
        
        a:before {
            content: "#";
            @apply -ml-4 mt-1 absolute text-base text-primary opacity-75;
        }
    }

    h3 {
        @apply mt-10 mb-4;
    }

    hr {
        @apply border-t-2 border-dashed border-grey-lighter;
    }

    img {
        max-width: 100%;
    }

    & > ul:first-of-type {
        @apply fixed p-4 list-reset w-1/5;
        top: 100px;
        right: 30px;

        li {
            @apply border-b border-dashed border-grey-light leading-normal p-3;

            a {
                @apply text-sm text-grey;
            }
        }

        ul {
            @apply list-reset pl-4;
        }
    }

    :not(pre) > code {
        @apply bg-grey-lighter p-1 rounded text-primary;
    }

    p {
        @apply text-base font-thin leading-large;
        text-align: justify;
        text-justify: inter-word;
    }
}

@media (max-width: 780px) {
    .documentation {
        padding: 0 40px !important;
        @apply w-full;

        > ul:first-of-type {
            @apply list-reset w-full;
            position: inherit;
            top: 10px;
            right: 30px;
        }
    }
}
