.documentation {
    .sidebar {
        font-size: 15px;
        background-color: $secondary;
        width: 15rem;
        position: fixed;
        z-index: 10;
        margin: 0;
        top: 3.6rem;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        border-right: 1px solid $gray-300;
        overflow-y: auto;
        padding: 2.1rem 0px !important;
        transition: all 0.2s;

        // dark sidebar
        &.is-dark {
            background-color: #344258;
        }

        &.is-light {
            background-color: $secondary;
        }
        
        &.is-hidden {
            left: -15rem;
        }
    
        > ul {
            list-style: none;
            padding: 0rem;
    
            > li {
                > h2 {
                    padding: 1.1rem;
                    color: $gray-700;
                    font-size: $font-size-base;
                    font-weight: $font-weight-bold;
                    margin-bottom: 0px;
                }
    
                > ul {
                    list-style: none;
                    padding: 0px;
                    line-height: $line-height-lg * 1.5;
                    > li {
                        padding-left: 2px;
                        transition: padding-left 0.3s;

                        &:hover {
                            padding-left: 5px;
                        }

                        &.is-active {
                            padding-left: 0px;
                            border-left: 2px solid $primary;

                            a {
                                font-weight: $font-weight-bold;
                            }
                        }
                        a {
                            font-size: $font-size-base;
                            font-weight: $font-weight-normal;
                            color: $gray-600;
                            padding: 0px 2rem;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .article {
        position: static;
        padding-left: 20rem;
        margin: 100px 0;
        transition: padding-left 0.2s;

        img {
            max-width: 100%;
        }

        &.expanded {
            padding-left: 5rem;
        }
        
        h1:first-of-type {
            border-left: 2px solid $primary;
            padding-left: 1rem;
            margin-bottom: 1.5rem;
            font-weight: $font-weight-bold;
        }

        h2 {
            font-size: $h2-font-size;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
            font-weight: $font-weight-bold;

            a,
            a:hover {
                color: $gray-700;
                text-decoration: none;
            }
            a:before {
                content: "#";
                margin-left: -15px;
                margin-top: 5px;
                position: absolute;
                font-size: 15px;
                color: $primary;
                opacity: .6;
            }
        }

        h3 {
            font-size: $h3-font-size * 0.9;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
        }

        hr {
            border-top: 2px dashed $gray-200;
        }

        & > ul:first-of-type {
            position: fixed;
            top: 100px;
            right: 30px;
            padding: 1rem;
            list-style: none;
            width: 200px;

            padding: 0rem;
    
            li {
                border-bottom: 1px dashed $gray-300;
                padding: 10px;

                a {
                    font-size: $font-size-sm;
                    color: $gray-600;
                }
            }
        }

        :not(pre) > code {
            background-color: $gray-100;
            padding: 5px;
            border-radius: 5px;
            color: $primary;
        }

        p {
            font-size: 1rem;
            line-height: 1.9;
            text-align: justify;
            text-justify: inter-word;
        }

        blockquote.has-icon {
            position: relative;
            margin: 2rem 0;

            &:hover {
                box-shadow: $input-focus-alternative-box-shadow !important;
            }
    
            p { 
                padding-left: 30px; 
                margin-bottom: 0px;
                color: $white
            }
        
            .flag {
                position: absolute;
                width: 30px;
                left: 15px;
                top: 10px;
                font-weight: $font-weight-bold;
                svg {
                    fill: $white;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (max-width:780px) {

	.documentation .article  {
        padding: 0 40px !important;

        > ul:first-of-type {
            position: inherit;
            top: 10px;
            right: 30px;
            padding: 1rem;
            list-style: none;
            width: auto;
            padding: 0rem;
        }
	}
}
