.documentation {
    .sidebar {
        @apply bg-sidebar border-r border-grey-light w-64 fixed z-10 text-base pin-y pin-l mt-16 overflow-y-auto py-8;
        transition: all 0.2s;
        
        &.is-hidden {
            left: -16rem;
        }

        > ul {
            list-style: none;
            padding: 0rem;

            // > li {
            //     > h2 {
            //         padding: 1.1rem;
            //         color: $gray-700;
            //         font-size: $font-size-base;
            //         font-weight: $font-weight-bold;
            //         margin-bottom: 0px;
            //     }

            //     > ul {
            //         list-style: none;
            //         padding: 0px;
            //         line-height: $line-height-lg * 1.5;
            //         > li {
            //             padding-left: 2px;

            //             &.is-active {
            //                 padding-left: 0px;
            //                 border-left: 2px solid $primary;

            //                 a {
            //                     font-weight: $font-weight-bold;
            //                 }
            //             }
            //             a {
            //                 font-size: $font-size-base;
            //                 font-weight: $font-weight-normal;
            //                 color: $gray-600;
            //                 padding: 0px 2rem;
            //                 display: block;
            //                 transition: padding-left 0.3s;

            //                 &:hover {
            //                     padding-left: 2.25rem;
            //                 }
            //             }

            //             ul {
            //                 list-style: none;
            //                 padding-left: 1rem;
            //             }
            //         }
            //     }
            // }
        }
    }

    .article {
        @apply static pl-32 my-32;
        transition: padding-left 0.2s;

        img {
            max-width: 100%;
        }

        &.expanded {
            @apply pl-20;
        }

        h1:first-of-type {
            // border-left: 2px solid $primary;
            padding-left: 1rem;
            margin-bottom: 1.5rem;
            // font-weight: $font-weight-bold;
        }

        h2 {
            // font-size: $h2-font-size;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
            // font-weight: $font-weight-bold;

            a,
            a:hover {
                // color: $gray-700;
                text-decoration: none;
            }
            a:before {
                content: "#";
                margin-left: -15px;
                margin-top: 5px;
                position: absolute;
                font-size: 15px;
                // color: $primary;
                opacity: 0.6;
            }
        }

        h3 {
            // font-size: $h3-font-size * 0.9;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
        }

        hr {
            // border-top: 2px dashed $gray-200;
        }

        & > ul:first-of-type {
            position: fixed;
            top: 100px;
            right: 30px;
            padding: 1rem;
            list-style: none;
            width: 200px;

            padding: 0rem;

            li {
                // border-bottom: 1px dashed $gray-300;
                padding: 10px;

                a {
                    // font-size: $font-size-sm;
                    // color: $gray-600;
                }

                li:last-child {
                    border-bottom: none;
                }
            }

            ul {
                list-style: none;
                padding-left: 1rem;
            }
        }

        :not(pre) > code {
            // background-color: $gray-100;
            padding: 5px;
            border-radius: 5px;
            // color: $primary;
        }

        p {
            font-size: 1rem;
            line-height: 1.9;
            text-align: justify;
            text-justify: inter-word;
        }

        blockquote.has-icon {
            position: relative;
            margin: 2rem 0;

            &:hover {
                // box-shadow: $input-focus-alternative-box-shadow !important;
            }

            p {
                padding-left: 30px;
                margin-bottom: 0px;
                color: white;
            }

            .flag {
                position: absolute;
                width: 30px;
                left: 15px;
                top: 10px;
                // font-weight: $font-weight-bold;
                svg {
                    fill: white;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .documentation .article {
        padding: 0 40px !important;

        > ul:first-of-type {
            position: inherit;
            top: 10px;
            right: 30px;
            padding: 1rem;
            list-style: none;
            width: auto;
            padding: 0rem;
        }
    }
}
