.sidebar {
    @apply bg-sidebar border-r border-grey-light w-64 fixed z-10 text-base pin-y pin-l mt-16 overflow-y-auto py-8;
    transition: all 0.2s;
    
    &.is-hidden {
        left: -16rem;
    }

    > ul {
        @apply list-reset;

        > li {
            > h2 {
                @apply p-5 text-grey-darkest text-base mb-0;
            }

            > ul {
                @apply list-reset leading-loose;

                > li {
                    @apply pl-1;

                    &.is-active {
                        @apply pl-0 border-l-2 border-primary;

                        a {
                            @apply font-bold;
                        }
                    }

                    a {
                        @apply text-base font-thin text-grey-dark py-0 px-8 block;

                        transition: padding-left 0.3s;

                        &:hover {
                            padding-left: 2.25rem;
                        }
                    }

                    ul {
                        @apply list-reset pl-1;
                    }
                }
            }
        }
    }
}