.sidebar {
	border-right: 1px solid $color__faint;
	width: 250px;
	float: left;
	padding: 35px;

	h2 {
		position: relative;
		font-size: 14px;
		font-weight: 400;
		padding: 0.75rem 0.75rem 0.75rem 0;
		margin: 0;
		// font-weight: 600;
		cursor: pointer;
		transition: color 0.1s linear;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
		font-family: $font;

		&:focus {
			outline: 0;
		}

		&:hover,
		{
			color: #68344d;
			// border-color: currentColor;
		}

		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 1.5rem;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
    		border-right: 4px solid transparent;
    		border-left: 4px solid $color__lighter_gray;
    		border-bottom: 4px solid transparent;
		}

		& + ul {
			display: none;
		}

		&.is-active {
			// color: $color__darker_salmon;
			// border-bottom-style: solid;

			&:after {
				transform: rotate(90deg);
			}
		}

		&.is-active + ul {
			display: block;
		}
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			font-size: 13px;
			font-weight: 400;
			padding: 0;
			margin: 0;
			line-height: 30px;

			> ul {
				list-style: none;
				margin: 0.5rem 0 0;
				padding: 0;
				font-size: 13px;
				padding-left: 0.75rem;
			}
		}
	}

	a {
		line-height: 30px;
		&:hover {
			color: $color__darker_salmon;
		}
	}
}

@media (max-width:1080px) {
	.sidebar {
		padding: 25px;
		width: 200px;
	}
}

@media (max-width:780px) {
	.sidebar {
		display: none;
	}
}
