version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1-stretch

    steps:
      - checkout

      - run: sudo apt update
      - run: sudo docker-php-ext-install zip

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run: COMPOSER_MEMORY_LIMIT=-1 composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor

      - run: ./vendor/bin/phpunit
