.documentation {
    @apply bg-documentation-light dark:bg-documentation-dark static my-32 pl-80 w-3/4;
    transition: padding-left 0.1s;

    &.expanded {
        @apply pl-20;
    }

    h1:first-of-type {
        @apply mb-6 font-bold text-3xl text-slate-800 dark:text-slate-200;
    }

    h2 {
        @apply mt-10 mb-4 font-bold text-2xl text-slate-800 dark:text-slate-200;

        a, a:hover {
            @apply text-gray-700 no-underline;
        }

        a:before {
            content: "#";
            @apply -ml-4 mt-1 absolute text-base text-primary opacity-75;
        }
    }

    h3 {
        @apply mt-10 mb-4 text-2xl text-slate-800 dark:text-slate-200;
    }

    hr {
        @apply border-t border-dashed border-slate-300 my-4;
    }

    img {
        max-width: 100%;
    }

    & > ul:first-of-type {
        @apply fixed p-4 list-none p-0 w-1/5 top-32;
        right: 30px;

        li {
            @apply p-0;
            a {
                @apply text-sm text-gray-500;
            }
        }

        ul {
            @apply list-none p-0 pl-4;
        }
    }

    :not(pre) > code {
        @apply bg-gray-200 px-2 rounded text-primary leading-normal;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        line-height: 1.6;
    }

    ul > li , ol > li {
        @apply py-2;
    }

    p {
        @apply text-base text-slate-700 dark:text-slate-400 mb-4;
    }
}

@media (max-width: 780px) {
    .documentation {
        padding: 0 40px !important;
        @apply w-full;

        > ul:first-of-type {
            @apply list-none p-0 w-full;
            position: inherit;
            top: 10px;
            right: 30px;
        }
    }
}