.sidebar {
    @apply bg-sidebar-light dark:bg-sidebar-dark border-r border-slate-100 dark:border-none w-64 fixed z-10 inset-y-0 left-0 overflow-y-auto pt-28 pb-16 text-sm font-thin;
    transition: padding-left 0.1s;

    &.is-hidden {
        left: -16rem;
    }

    > ul {
        @apply p-0 space-y-8;

        > li {
            @apply px-6 text-slate-900 mb-0;
            > h2 {
                @apply font-medium text-slate-900 dark:text-white;
            }

            > ul {
                @apply mt-2 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200;

                > li {
                    @apply relative;

                    > a {
                        @apply block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300;
                        
                        &.active {
                            @apply text-sky-500 before:bg-sky-500 before:block;
                        }
                    }
                }
            }
        }
    }
}