/**************************************/

/**************** Root ****************/

/**************************************/

:root {
  --black: #22292f;
  --white: white;
  --primary: #787af6;
  --secondary: #2b9cf2;
  --info: #03a9f4;
  --warning: #fb6340;
  --success: #21b978;
  --danger: #f5365c;
  --sidebar: #11152c;
  --documentation: #191e38;
  --navbar: rgb(28, 35, 68);
}

html,
body {
  background-color: var(--documentation);
  color: #f8fafc;
}

/**************************************/

/**************** Cards ***************/

/**************************************/

.card.is-default {
  background-color: #2f365f;
  color: #f8fafc;
  border-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.card.is-default:hover {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

/**************************************/

/************** Tables ****************/

/**************************************/

table {
  background-color: #f1f5f8;
}

table tr,
table td,
table th {
  border-color: #3d4852;
}

table tr:hover,
table td:hover,
table th:hover {
  background-color: #3d4852;
}

/**************************************/

/*************** Sidebar **************/

/**************************************/

.sidebar {
  background-color: var(--sidebar);
  border-style: none;
}

.sidebar > ul > li > h2 {
  color: #b8c2cc;
}

.sidebar > ul > li > ul {
  list-style: none;
  padding: 0;
}

.sidebar > ul > li > ul > li a {
  color: #8795a1;
}

/**************************************/

/********** Documentation *************/

/**************************************/

.documentation {
  color: #b8c2cc;
}

.documentation h1 {
  color: #f8fafc;
}

.documentation h2 a,
.documentation h2 a:hover {
  color: #dae1e7;
}
